@import "tailwindcss";

:root {
  --bg: #0b0b0b;
  --fg: #eaeaea;
  --muted: #9a9a9a;
}

html {
  background-color: var(--bg);
  color: var(--fg);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-feature-settings: "liga" 1, "kern" 1;
  -webkit-font-smoothing: antialiased;
}
